@import 'tailwindcss';

@plugin 'tailwindcss-animate';

@custom-variant dark (&:is(.dark *));
@import './fonts.css';

@theme {
	--color-ink: #1d1d1f;
	--color-canvas: #fff;
	--color-accent: #1d1d1f;

	--max-height-fold: calc(100svh - var(--header-height));

	--container-7xl: 90rem;

	--text-display: clamp(3.37rem, 3.182rem + 0.94vw, 4.03rem);
	--text-h1: clamp(2.81rem, 2.652rem + 0.79vw, 3.36rem);
	--text-h2: clamp(2.34rem, 2.208rem + 0.66vw, 2.8rem);
	--text-h3: clamp(1.95rem, 1.842rem + 0.54vw, 2.33rem);
	--text-h4: clamp(1.62rem, 1.528rem + 0.46vw, 1.94rem);
	--text-h5: clamp(1.35rem, 1.272rem + 0.39vw, 1.62rem);
	--text-h6: clamp(1.13rem, 1.068rem + 0.31vw, 1.35rem);
	--text-body-l: clamp(1.13rem, 1.068rem + 0.31vw, 1.35rem);
	--text-body: clamp(0.94rem, 0.888rem + 0.26vw, 1.125rem);
	--text-body-s: clamp(0.78rem, 0.734rem + 0.23vw, 0.94rem);
}

@variant header-open (body:has(#header-toggle:checked) &);
@variant header-closed (body:has(#header-toggle:not(:checked)) &);

@variant headings (& :is(h1, h2, h3, h4, h5, h6));

@layer base {
	* {
		min-width: 0;
	}

	[hidden] {
		display: none !important;
	}

	:target {
		scroll-margin-top: var(--header-height);

		&:is(h1, h2, h3, h4, h5, h6) {
			animation: target var(--default-transition-duration) ease-in-out forwards;
		}
	}

	@keyframes target {
		0%,
		50% {
			background-color: color-mix(
				in oklab,
				var(--color-amber-400) 50%,
				transparent
			);
		}
	}

	html {
		accent-color: var(--color-accent);
		caret-color: var(--color-accent);
		scroll-behavior: smooth;
	}

	summary,
	label,
	input[type='submit'] {
		cursor: pointer;
	}

	input {
		background-color: transparent;
	}

	::-webkit-details-marker {
		display: none;
	}

	hr {
		@apply border-neutral-400;
	}
}

/* animations */

@utility anim-fade {
	--x: 0;
	--y: 0;
	animation: anim-fade-to var(--default-transition-duration) ease-in-out
		forwards;
}
@utility anim-fade-to-l {
	@apply anim-fade;
	--x: 1rem;
}
@utility anim-fade-to-r {
	@apply anim-fade;
	--x: -1rem;
}
@utility anim-fade-to-t {
	@apply anim-fade;
	--y: 1rem;
}
@utility anim-fade-to-b {
	@apply anim-fade;
	--y: -1rem;
}

@keyframes anim-fade-to {
	from {
		opacity: 0;
		translate: var(--x, 0) var(--y, 0);
	}
}

/* typography */

@utility h-base {
	font-weight: semibold;
}

@utility h1 {
	@apply h-base text-h1 leading-tight font-medium;
}
@utility h2 {
	@apply h-base text-h2 leading-tight font-medium;
}
@utility h3 {
	@apply h-base text-h3 leading-tight font-medium;
}
@utility h4 {
	@apply h-base text-h4 leading-tight font-medium;
}
@utility h5 {
	@apply h-base text-h5 leading-tight font-medium;
}
@utility h6 {
	@apply h-base text-h6 leading-tight font-medium;
}

@utility technical {
	text-transform: uppercase;
	font-weight: 400;
}

@utility text-shadow {
	text-shadow: 0 0 0.2em rgb(0 0 0 / 0.25);
}

@utility text-gradient {
	@apply from-accent/5 to-accent bg-linear-to-br bg-clip-text text-transparent;
}

/* ctas, links */

@utility action-base {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 0.5em 1em;
	text-align: center;
	text-shadow: none;
}

@utility action {
	@apply action-base bg-accent text-foreground rounded border border-transparent text-balance;
}

@utility action-outline {
	@apply action-base border-accent/10 bg-canvas/50 to-canvas text-accent rounded border text-balance;
}

@utility ghost {
	@apply action-base frosted-glass hover:bg-accent/5 rounded;
}

@utility link {
	@apply underline hover:decoration-2;
}

@utility input {
	@apply border border-neutral-400 p-[.25em] text-left;
}

/* utilities */

@utility sticky-below-header {
	position: sticky;
	top: calc(var(--header-height) + var(--offset, 0px));
}

@utility frosted-glass {
	--tw-bg-opacity: 0.9;
	@apply backdrop-blur-lg backdrop-saturate-200;
}

@utility full-bleed {
	width: 100vw;
	margin-inline: calc(50% - 50vw);
}

@utility no-scrollbar {
	-webkit-overflow-scrolling: touch;
	scrollbar-width: none;

	&::-webkit-scrollbar {
		display: none;
	}
}

@utility overflow-fade {
	--offset: 4rem;
	mask: linear-gradient(
		to right,
		transparent,
		black var(--offset),
		black calc(100% - var(--offset)),
		transparent
	);
}

@utility overflow-fade-r {
	--offset: 4rem;
	mask: linear-gradient(
		to right,
		black 50%,
		black calc(100% - var(--offset)),
		transparent
	);
}

/* layout */

@utility section {
	@apply mx-auto max-w-screen-xl p-8 max-md:px-4 md:py-12;
}

/* richtext */

@utility richtext {
	@apply space-y-2 leading-relaxed;

	& :is(h1, h2, h3, h4, h5, h6) strong {
		@apply text-gradient;
	}

	& h1 {
		@apply h1;
	}

	& h2 {
		@apply h2;
	}

	& h3 {
		@apply h3;
	}

	& h4 {
		@apply h4;
	}

	& h5 {
		@apply h5;
	}

	& h6 {
		@apply h6;
	}

	& :is(ul, ol) {
		list-style: revert;
		padding-left: 1.5em;

		& > li > ol {
			list-style: lower-alpha;
		}
	}

	& a:not(:is(.action, .action-outline, .ghost)) {
		@apply link;
	}

	& :not(pre) > code {
		@apply bg-ink/5 rounded px-1;
	}

	& pre {
		tab-size: 2;
		@apply overflow-x-auto rounded bg-transparent p-3 text-xs/relaxed;
	}

	& blockquote {
		@apply border-l-2 border-neutral-400 pl-4;
	}

	& table {
		display: block;
		overflow-x: auto;
		text-wrap: balance;
		line-height: initial;

		@apply max-md:full-bleed min-w-full;

		& th,
		td {
			@apply p-3 text-center;
		}

		& tbody {
			& tr:nth-child(odd) {
				@apply bg-neutral-50;
			}

			& tr th:first-child {
				text-align: left;
			}
		}
	}

	& video {
		width: 100%;
	}

	& p {
		@apply text-body text-foreground/70;
	}
}

/* skeleton */

@utility skeleton {
	@apply h-[1lh] bg-neutral-50;
}
@utility skeleton-2 {
	@apply h-[2lh] bg-neutral-50;
}
@utility skeleton-3 {
	@apply h-[3lh] bg-neutral-50;
}

/* components */

@utility accordion {
	& summary {
		display: grid;
		grid-template-columns: 1fr auto;
		align-items: center;
		gap: 1em;

		&::after {
			content: '+';
			display: inline-block;
			font-family: monospace;
			font-size: 1.5em;
		}
	}

	& ::-webkit-details-marker {
		display: none;
	}

	&[open] summary::after {
		content: '-';
	}
}

@utility carousel {
	display: flex;
	overflow-x: auto;
	scroll-snap-type: x mandatory;

	& > * {
		flex: 0 0 min(var(--size, 300px), 80vw);
		scroll-snap-align: center;
	}
}

:root {
	--background: oklch(1 0 0);
	--foreground: oklch(0.145 0 0);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.145 0 0);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.145 0 0);
	--primary: oklch(0.205 0 0);
	--primary-foreground: oklch(0.985 0 0);
	--secondary: oklch(0.97 0 0);
	--secondary-foreground: oklch(0.205 0 0);
	--muted: oklch(0.97 0 0);
	--muted-foreground: oklch(0.556 0 0);
	--accent: oklch(0.97 0 0);
	--accent-foreground: oklch(0.205 0 0);
	--destructive: oklch(0.577 0.245 27.325);
	--destructive-foreground: oklch(0.577 0.245 27.325);
	--border: oklch(0.922 0 0);
	--input: oklch(0.922 0 0);
	--ring: oklch(0.87 0 0);
	--chart-1: oklch(0.646 0.222 41.116);
	--chart-2: oklch(0.6 0.118 184.704);
	--chart-3: oklch(0.398 0.07 227.392);
	--chart-4: oklch(0.828 0.189 84.429);
	--chart-5: oklch(0.769 0.188 70.08);
	--radius: 0.625rem;
	--sidebar: oklch(0.985 0 0);
	--sidebar-foreground: oklch(0.145 0 0);
	--sidebar-primary: oklch(0.205 0 0);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.97 0 0);
	--sidebar-accent-foreground: oklch(0.205 0 0);
	--sidebar-border: oklch(0.922 0 0);
	--sidebar-ring: oklch(0.87 0 0);
}

.dark {
	--background: oklch(0.145 0 0);
	--foreground: oklch(0.985 0 0);
	--card: oklch(0.145 0 0);
	--card-foreground: oklch(0.985 0 0);
	--popover: oklch(0.145 0 0);
	--popover-foreground: oklch(0.985 0 0);
	--primary: oklch(0.985 0 0);
	--primary-foreground: oklch(0.205 0 0);
	--secondary: oklch(0.269 0 0);
	--secondary-foreground: oklch(0.985 0 0);
	--muted: oklch(0.269 0 0);
	--muted-foreground: oklch(0.708 0 0);
	--accent: oklch(0.269 0 0);
	--accent-foreground: oklch(0.985 0 0);
	--destructive: oklch(0.396 0.141 25.723);
	--destructive-foreground: oklch(0.637 0.237 25.331);
	--border: oklch(0.269 0 0);
	--input: oklch(0.269 0 0);
	--ring: oklch(0.439 0 0);
	--chart-1: oklch(0.488 0.243 264.376);
	--chart-2: oklch(0.696 0.17 162.48);
	--chart-3: oklch(0.769 0.188 70.08);
	--chart-4: oklch(0.627 0.265 303.9);
	--chart-5: oklch(0.645 0.246 16.439);
	--sidebar: oklch(0.205 0 0);
	--sidebar-foreground: oklch(0.985 0 0);
	--sidebar-primary: oklch(0.488 0.243 264.376);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.269 0 0);
	--sidebar-accent-foreground: oklch(0.985 0 0);
	--sidebar-border: oklch(0.269 0 0);
	--sidebar-ring: oklch(0.439 0 0);
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);
	--animate-accordion-down: accordion-down 0.2s ease-out;
	--animate-accordion-up: accordion-up 0.2s ease-out;

	@keyframes accordion-down {
		from {
			height: 0;
		}
		to {
			height: var(--radix-accordion-content-height);
		}
	}

	@keyframes accordion-up {
		from {
			height: var(--radix-accordion-content-height);
		}
		to {
			height: 0;
		}
	}
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}
}
