<section>
  <div class="p-8 max-w-7xl mx-auto border-x border-gray border-b lg:py-32">
    <div class="max-w-2xl">
      <span class="text-neutral-400 font-light">About</span>
      <h3 class="text-white mt-6 text-2xl font-light text-balance">
        Dusk is a comprehensive design, and development service that specializes
        in crafting exceptional one-page websites to captivate users and leave a
        lasting impression.
      </h3>
      <p class="text-neutral-400 mt-6 ">
        We specialize in developing static websites using astro and tailwind
        css. by leveraging these frameworks, i create tailored and optimized
        websites that effectively share startup stories, connect with audiences,
        and create memorable experiences. let me help you achieve your goals
        with a remarkable online presence.
      </p>
    </div>
  </div>
</section>
