<section>
  <div
    class="p-8 max-w-7xl mx-auto border-x border-b lg:border-b-0 border-gray border-t">
    <div>
      <span class="text-neutral-400 font-light">Dusk</span>
    </div>
    <div class="mt-32 grid grid-cols-1 lg:grid-cols-2">
      <div>
        <p class="text-white text-2xl font-light">
          <span class="block">If you have a project idea in mind,</span>
          <span class="block"> let's join forces and collaborate.</span>
        </p>
        <div class="mt-6">
          <a
            href="/contact"
            title="your title"
            aria-label="your label"
            class="items-center inline-flex text-sm focus:outline-none bg-gray border border-transparent duration-200 focus:ring-2 focus:ring-offset-2 focus:ring-white hover:bg-white/10 px-6 py-2 ring-1 ring-transparent rounded-full text-white"
            >CONTACT US</a
          >
        </div>
      </div>
      <div>
        <div class="mt-4 gap-2 grid md:grid-cols-2">
          <ul role="list">
            <li>
              <a
                href="/system/overview"
                title="your title"
                aria-label="your label"
                class="text-sm font-normal hover:text-white text-neutral-400"
                >Overview</a
              >
            </li>
            <li>
              <a
                href="/system/style-guide"
                title="your title"
                aria-label="your label"
                class="text-sm font-normal hover:text-white text-neutral-400"
                >Style Guide</a
              >
            </li>
            <li>
              <a
                href="https://lexingtonthemes.com/"
                title="your title"
                aria-label="your label"
                class="text-sm font-normal hover:text-white text-neutral-400"
                >More themes</a
              >
            </li>
            <li>
              <a
                href="https://www.lexingtonthemes.com/legal/license"
                title="your title"
                aria-label="your label"
                class="text-sm font-normal hover:text-white text-neutral-400"
                >License</a
              >
            </li>
          </ul>
          <ul role="list">
            <li>
              <a
                href="https://lexingtonthemes.com/documentation/quick-start/"
                title="your title"
                aria-label="your label"
                class="text-sm font-normal hover:text-white text-neutral-400"
                >Documentation</a
              >
            </li>
            <li>
              <a
                href="https://x.com/lexingtonthemes"
                title="your title"
                aria-label="your label"
                class="text-sm font-normal hover:text-white text-neutral-400"
                >@lexingtonthemes</a
              >
            </li>
            <li>
              <a
                href="https://x.com/Mike_Andreuzza"
                title="your title"
                aria-label="your label"
                class="text-sm font-normal hover:text-white text-neutral-400"
                >@Mike_Andreuzza</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
